html { font-size: 22px; box-sizing: border-box; }
body { padding: 1rem; }
.grid-item {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    background-color: aquamarine;
  }