:root {
    --azul_claro: #57c4f1;
    --laranja: #f9b232;
    --rosa: #dc3770;
    --marrom: #96714e;
    --roxo: #632e88;
    --verde_claro: #a9cf71;

    --overpass_regular: 'Overpass', sans-serif;
}